*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin : 0;
  color: white;
}
body {
  background-color: rgb(35, 34, 34);
  width: 100%;
  max-width: 125rem;
  margin-inline: auto;
  /* background-image: url("1170083.gif");
  background-repeat: repeat-x;
  background-position: center;
  background-attachment: fixed;
  background-size: 20%; */
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 2.6666666667rem);

}
@media all and (min-width: 45em) {
  .App-container {
      min-height: calc(100vh - 5.3333333333rem)
  }
}

.section{
  padding: 2rem 0;
  padding-top: 2rem;
}
@media (min-width: 40em) {
    
  body {
      width: 70%;
      height: 100vh;    
  
  }


}

.style-none{
  text-decoration: none;
  list-style: none;

}
.text-center{
  text-align: center;
}