.header {
    
    padding: 10px;
    text-align: center;
}
.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;

}
.header-flex > h3{
    text-align: center;
}
.style-none{
    text-decoration: none;
    list-style: none;
  
  }