.header {
    
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap : wrap;


}
.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap : wrap;
    width: 100%;

}
.header-flex > *{
    text-align: center;
    margin: 10px;
}
.header-flex > h3:hover{
    scale: 1.2;
}
.style-none{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
  }