.game-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.nameBox {
    max-width: 90%;
    text-align: center;
}
button {

    color : black;
}

.foodImage {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    height: auto;
    border: 3px solid red;
    --angle: 0deg;
    width: 50vmin;
    height: 50vmin;
    border: 0.5rem solid;
    border-image: linear-gradient(var(--angle), #000000, #161616,#fffb1b, #393939) 1;
    cursor : grab;
  }
.foodImage:hover{
    animation: 3s rotate linear infinite;
    transform: scale(1.05); 

}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.text-center{
    text-align: center;
}

.bigFont{
    font-size: 4rem;
}
.img-box{
  width: 50%;
  margin: 0 auto;
}
#swalBoxleft{
  width: 60vmin;
  height: 60vmin;
  position: absolute;
  pointer-events: none;
  cursor : grab;
}

#swalBoxleft .swal2-container {



  position: inherit; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

}
#swalBoxright{
  width: 60vmin;
  height: 60vmin;
  position: absolute;
  pointer-events: none;
  cursor : grab;

}

#swalBoxright .swal2-container {



  position: inherit; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 


}
.wonVotes{
    font-size: 2rem;
    color: #00ff77;
    text-shadow: 0 0 0.5rem #e4ffec;
}
.lostVotes {
    font-size: 2rem;
    color: #ff0000;
    text-shadow: 0 0 0.5rem #0f0f0f;
}

.scores{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 50%;
  height: 26vh;
  margin-top: 3rem;

}
.score-container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width:12vw; 
  position: relative;
}